<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="NupiDB"
             connectionString="Data Source=DESKTOP-9IQ6CR4;Initial Catalog=NupiClinicDB;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>